{% set breadcrumbs = (("Collections", "collections"), (collection.name, ("collection-detail", collection.id))) %}

{% set metadata = collection.metadata or {} %}
{% set object_count = metadata.get("object_count") %}
{% set object_name = metadata.get("object_name_singular") if object_count == 1 else metadata.get("object_name_plural") %}
{% set is_custom_can_change = collection.collection_type == CollectionTypes.CUSTOM and request.user.has_perm(Permissions.CHANGE_COLLECTION, collection) %}

{% extends 'keystone/base.html' %}

{% block header_title %}
{% if is_custom_can_change %}
<arch-contenteditable
  modelName="collection"
  instanceUrl="{{ url('public:update_collection', args=(collection.id,)) }}"
  fieldName="name"
  updatePageRefSelectors="[&quot;ul.breadcrumbs &gt; li:nth-child(2) &gt; a&quot;]"
  csrfToken="{{ csrf_token }}"
>{{ collection.name }}</arch-contenteditable>
{% else %}
{{ collection.name }}
{% endif %}
{% endblock %}

{% block head_extra %}
<script src="{{ static('/js/arch-alert.js') }}" type="module"></script>
<script src="{{ static('/js/arch-collection-details-dataset-table.js') }}" type="module"></script>
<script src="{{ static('/js/arch-contenteditable.js') }}" type="module"></script>
<script src="{{ static('/js/arch-collection-settings-button.js') }}" type="module"></script>
{% if collection.size_bytes == 0 %}
<script src="{{ static('/js/arch-empty-collection-detail-page-alert.js') }}" type="module"></script>
{% endif %}

<style>
 #collection-detail-content {
   margin-top: 1rem;
 }

 #overview-wrapper {
   position: relative;
 }

 #overview-wrapper > h2 {
   display: inline-block;
 }

 #help-flag > img {
   position: absolute;
   right: 6.2rem;
   bottom: 0.5rem;
 }

 #overview-wrapper > arch-collection-settings-button {
   display: inline-block;
   position: absolute;
   right: 0;
   bottom: 0.3rem;
 }

 #empty-alert {
   display: block;
   margin-top: 1rem;
 }

 span.inaccessible-collection {
   color: rgb(106, 109, 112);
   cursor: not-allowed;
 }
</style>

<script>
  function initOptOutListener() {
    // Add/remove the isOptedOutCollection property to the Datasets table when
    // the user opts out/in.
    const collectionSettingsButton = document.querySelector("arch-collection-settings-button");
    const optedOutAlert = document.getElementById("opted-out-alert");
    const emptyAlert = document.getElementById("empty-alert");
    const datasetsTable = document.querySelector("arch-collection-details-dataset-table");
    const isEmptyCollection = {{ "true" if collection.size_bytes == 0 else "false" }};
    collectionSettingsButton.addEventListener("submit", () => {
      if (collectionSettingsButton.settings.opt_out) {
        datasetsTable.setAttribute("isOptedOutCollection", "");
        if (isEmptyCollection) {
          emptyAlert.optedOut = true;
        } else {
          optedOutAlert.style.display = "block";
        }
      } else {
        datasetsTable.removeAttribute("isOptedOutCollection");
        if (isEmptyCollection) {
          emptyAlert.optedOut = false;
        } else {
          optedOutAlert.style.display = "none";
        }
      }
    });
  }
  window.addEventListener("DOMContentLoaded", () => initOptOutListener());
</script>
{% endblock %}

{% block content %}
<div id="collection-detail-content" class="row page-tab">
  <div class="large-12 columns">
    {% if collection.size_bytes == 0 %}
    <arch-empty-collection-detail-page-alert
      id="empty-alert"
      {{ "opted-out" if user_settings.opt_out else ""}}
    ></arch-empty-collection-detail-page-alert>
    {% else %}
    <arch-alert
      id="opted-out-alert"
      alert-class="info"
      message="This collection is currently hidden from default views. Click the &quot;Settings&quot; button and toggle the &quot;Hide&quot; option OFF to make it normally visible."
      non-dismissable
      style="display: {{'block' if user_settings.opt_out else 'none' }}"
    ></arch-alert>
    {% endif %}

    <div id="overview-wrapper">
      <h2>Overview</h2>
      {% include "keystone/help-flag.html" %}
      <arch-collection-settings-button
        collectionId="{{ collection.id }}"
        title="Edit collection settings"
        settings='{{ user_settings | tojson }}'
      ></arch-collection-settings-button>
    </div>
    <div class="card">
      <div class="card-body">
        <div id="collection-metadata-wrapper">

          <div id="metadata-image-wrapper">
            <img src="{{ (collection.image and collection.image.url) or static('/img/arch-collection-image-placeholder.png') }}" alt="Collection Image" />
          </div>

          <div id="metadata-icons-wrapper">
            {% if custom_metadata_icons_template %}
            {% include custom_metadata_icons_template %}
            {% else %}
            {% include "keystone/collection-detail-metadata-icons.html" %}
            {% endif %}
          </div>

          <div id="metadata-description-wrapper">
            {{ (collection.description or "No description available.") | safe}}

            {% if collection.info_url %}
            <a class="collection-info-url" href="{{ collection.info_url }}">{{ collection.info_url }}</a>
            {% endif %}
          </div>

        </div>
      </div>
    </div>

    {% if configuration_info %}
    <h2 id="datasets">Collection Configuration</h2>
    <div class="card">
      <div class="card-body" id="collection-config">

        {% if "input_collections" in configuration_info %}
        <h3>Input Collections</h3>
        {% if not configuration_info["input_collections"] %}
        <i>An error occurred while retrieving these collections</i>
        {% else %}
        <ul>
          {% for input_collection in configuration_info["input_collections"] %}
          <li>
            {% if user.has_perm(Permissions.VIEW_COLLECTION, input_collection) %}
            <a href="{{ url('collection-detail', args=(input_collection.id,)) }}">
              {{ input_collection.name }}
            </a>
            {% else %}
            <span
              class="inaccessible-collection"
              title="You are not authorized to access this collection"
            >
              {{ input_collection.name }}
            </span>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endif %}

        {% if configuration_info["param_label_value_pairs"] %}
        <h3>Filters</h3>
        <dl>
          {% for label, value in configuration_info["param_label_value_pairs"] %}
          <dt>{{ label }}</dt>
          {% if isinstance(value, list) %}
          <dd>
            {% set value_str = ("<em>" + "</em> or <em>".join(value|map("string")) + "</em>") %}
            {% if len(value_str) > 100 %}
            <details>
              <summary class="unselectable">
                {{ len(value) }} values
              </summary>
              {{ value_str | safe }}
            </details>
            {% else %}
            {{  value_str | safe }}
            {% endif %}
          </dd>
          {% else %}
          <dd><em>{{ value }}</em></dd>
          {% endif %}
          {% endfor %}
        </dl>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div>
      <h2>Datasets</h2>

      <div class="row">
        <div class="large-12 columns">
          <div id="datasets-table-wrapper">
            <arch-collection-details-dataset-table
              collectionId="{{ collection.id }}"
              cancel-job-icon-url="{{ static('/img/circle-stop-solid-full.svg') }}"
              {{ "is-opted-out-collection" if user_settings.opt_out else "" }}
              {{ "" if can_generate_dataset else "hide-generate-dataset" }}
            >
            </arch-collection-details-dataset-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
